extends ../layout
block content
	.header
		.header-titlle
				.d-md-flex.pt-1.pb-1.relative.align-items-center
					a.mr-5.pl-5(href='/')
						img(src='/image/SAND KING.png', style='width: 100px; border-radius: 30px;')
					ul.nav.d-flex.align-items-center.justify-content-center
						li.nav-item.pr-2
							a.nav-link(href='/muaBan#muaBan') Mua bán
						li.nav-item.pr-2
							a.nav-link(href='#') Dự án		
						li.nav-item
							a.nav-link(href='#') Tin tức
	.create-body
		.container.pt-5
			.d-flex.justify-content-center
				button.styleCreate.active Đăng tin bán
				button.styleCreate Đăng tin mua
		.container.pb-5.pt-5.d-flex.justify-content-center(style="background-color: rgba(100,100,100,0.7);border-radius: 3px; position: relative;")
			form.boxInformation.showCreate(action="/muaBan/create", method="POST", style="display:none;")
				if errors
					.alert.alert-danger(style="text-align: center;")
						span Bạn chưa điền: |
						each error in errors
							span= error
				.formTittle
					.lableTittle Tiêu đề: (
						span(style="color: red;") *
						span )
					.d(style="display: inline; height: 0px;")
						input.width600.pl-2(name="tittle", type="text", id="tittle", style="width: 600px; height: 50px; border-radius: 3px;", value = value ? value.tittle : "").mr-2
						span 99 từ
				.formTittle
					.leftInput
						.lableTittle Hình thức: (
							span(style="color: red") *
							span )
						.d(style="display: inline; height: 0px;")
							input.createInput.pl-2(name="breed", type="text",  value = value ? value.breed : "")
					.rightInput
						.lableTittle loại: (
							span(style="color: red") *
							span )
						.d(style="display: inline; height: 0px;")
							input.createInput.pl-2(name="kind", type="text",  value = value ? value.kind : "")
				.formTittle
					.leftInput
						.lableTittle Quận: (
							span(style="color: red") *
							span )
						.d(style="display: inline; height: 0px;")
							input.createInput.pl-2(name="district", type="text",  value = value ? value.district : "")
					.rightInput
						.lableTittle Xã/ Phường: (
							span(style="color: red") *
							span )
						.d(style="display: inline; height: 0px;")
							input.createInput.pl-2(name="wards", type="text",  value = value ? value.wards : "")
				.formTittle
					.leftInput
						.lableTittle Đường phố: (
							span(style="color: red") *
							span )
						.d(style="display: inline; height: 0px;")
							input.createInput.pl-2(name="streetCity", type="text",  value = value ? value.streetCity : "")
					.rightInput
						.lableTittle Diện tích: (
							span(style="color: red") *
							span )
						.d(style="display: inline; height: 0px;")
							input.createInput.pl-2(name="acreage", type="text",  value = value ? value.acreage : "")
				.formTittle
					.leftInput
						.lableTittle Giá: (
							span(style="color: red") *
							span )
						.d(style="display: inline; height: 0px;")
							input.createInput.pl-2(name="price", type="text",  value = value ? value.price : "")
					.rightInput
						.lableTittle Đơn vị: (
							span(style="color: red") *
							span )
						.d(style="display: inline; height: 0px;")
							input.createInput.pl-2(name="unit", type="text",  value = value ? value.unit : "")
				button.sumit(style="position: absolute; bottom: 30px; right: 46%;") Submit
			form.boxInformation(action="/muaBan/create", method="post", style="display:none;")
				.formTittle
					.lableTittle Tiêu đề: (
							span(style="color: red") *
							span )
					.d(style="display: inline")
						input(name="tittle1", type="text", id="tittle", style="width: 600px; height: 50px; border-radius: 3px;",  value = value ? value.tittle1 : "").mr-2
					span 99 từ
				.formTittle
					.leftInput
						.lableTittle Hình thức: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							input.createInput(name="breed", type="text",  value = value ? value.breed : "")
					.rightInput
						.lableTittle loại: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							input.createInput(name="kind", type="text",  value = value ? value.kind : "")
				.formTittle
					.leftInput
						.lableTittle Quận: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							input.createInput(name="district", type="text",  value = value ? value.district : "")
					.rightInput
						.lableTittle Xã/ Phường: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							input.createInput(name="wards", type="text",  value = value ? value.wards : "")
				.formTittle
					.leftInput
						.lableTittle Đường phố: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							input.createInput(name="streetCity", type="text",  value = value ? value.streetCity : "")
					.rightInput
						.lableTittle Diện tích: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							input.createInput(name="acreage", type="text",  value = value ? value.acreage : "")
				.formTittle
					.leftInput
						.lableTittle Giá: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							input.createInput(name="price", type="text",  value = value ? value.price : "")
					.rightInput
						.lableTittle Đơn vị: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							input.createInput(name="unit", type="text",  value = value ? value.unit : "")
				button(style="position: absolute; bottom: 30px; right: 50%;") Submit
		script.
			const button = document.getElementsByClassName("styleCreate");
			const boxInformation = document.getElementsByClassName("boxInformation");
			for(let i = 0; i < button.length; i++){
			button[i].addEventListener("click", function(){
			const active = document.getElementsByClassName("active");
			active[0].className = active[0].className.replace(" active", "");
			this.className += " active";
			const showCreate = document.getElementsByClassName("showCreate");
			showCreate[0].className = showCreate[0].className.replace(" showCreate", "");
			boxInformation[i].className += " showCreate";
			});
			}