extends ../layout
block content
	.header
		.header-titlle
				.d-md-flex.pt-1.pb-1.relative.align-items-center
					a.mr-5.pl-5(href='/')
						img(src='/image/SAND KING.png', style='width: 100px; border-radius: 30px;')
					ul.nav.d-flex.align-items-center.justify-content-center
						li.nav-item.pr-2
							a.nav-link(href='/muaBan#muaBan') Mua bán
						li.nav-item.pr-2
							a.nav-link(href='#') Dự án		
						li.nav-item
							a.nav-link(href='#') Tin tức
	.create-body
		.container.pt-5
			.d-flex.justify-content-center
				a(href="/muaBan/create")
					button.styleCreate Đăng tin bán
				button.styleCreate.active Đăng tin mua
		.container.pb-5.pt-5.d-flex.justify-content-center(style="background-color: rgba(100,100,100,0.7);border-radius: 3px; position: relative;")
			form.boxInformation(action="/muaBan/createMua", method="POST")
				if errors
					.alert.alert-danger(style="text-align: center;")
						span Bạn chưa điền: |
						each error in errors
							span= error
				.formTittle
					.lableTittle Tiêu đề: (
							span(style="color: red") *
							span )
					.d(style="display: inline")
						input(name="tittle", type="text", id="tittle", style="width: 600px; height: 50px; border-radius: 3px;",  value = value ? value.tittle1 : "").mr-2
					span 99 từ
				.formTittle
					.leftInput
						.lableTittle Hình thức: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							select(name="breed").createInput.pl-2
								option Mua
								option Muốn thuê
					.rightInput
						.lableTittle loại: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							select(name="kind").createInput.pl-2
								option Chung cư
								option Nhà riêng
								option Đất nền
								option Trang trại
								option Kho
								option BĐS khác
				.formTittle
					.leftInput
						.lableTittle Quận: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							select(name="district").createInput.pl-2
								option Quận 1
								option Quận 2
								option Quận 3
					.rightInput
						.lableTittle Xã/ Phường: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							input.createInput(name="wards", type="text",  value = value ? value.wards : "")
				.formTittle
					.leftInput
						.lableTittle Đường phố: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							input.createInput(name="streetCity", type="text",  value = value ? value.streetCity : "")
					.rightInput
						.lableTittle Diện tích: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							input.createInput(name="acreage", type="text",  value = value ? value.acreage : "")
				.formTittle
					.leftInput
						.lableTittle Giá: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							input.createInput(name="price", type="text",  value = value ? value.price : "")
					.rightInput
						.lableTittle Đơn vị: (
							span(style="color: red") *
							span )
						.d(style="display: inline")
							input.createInput(name="unit", type="text",  value = value ? value.unit : "")
				button(style="position: absolute; bottom: 30px; right: 46%;") Submit
