extends ../layout
block content
	.header
		.header-titlle
				.d-md-flex.pt-1.pb-1.relative.align-items-center
					a.mr-5.pl-5(href='/')
						img(src='/image/SAND KING.png', style='width: 100px; border-radius: 30px;')
					ul.nav.d-flex.align-items-center.justify-content-center
						li.nav-item.pr-2
							a.nav-link(href='/muaBan#muaBan') Mua bán
						li.nav-item.pr-2
							a.nav-link(href='#') Dự án		
						li.nav-item
							a.nav-link(href='#') Tin tức
	.create-body
		.container.pt-5
			.d-flex.justify-content-center
				button.styleCreate.active Đăng tin bán
				button.styleCreate Đăng tin mua
		.container.pb-5.pt-5.d-flex.justify-content-center(style="background-color: rgba(100,100,100,0.7);border-radius: 3px;")
			.boxInformation.showCreate(style="display:none;")
				.formTittle.pl-5
					.lableTittle Tiêu đề:
					.d(style="display: inline")
						input(type="text", id="tittle", style="width: 600px; height: 50px; border-radius: 3px").mr-2
					span 99 từ
				.formTittle.pl-5
					.leftInput
						.lableTittle Hình thức:
						.d(style="display: inline")
							input.createInput(type="text")
					.rightInput
						.lableTittle loại:
						.d(style="display: inline")
							input.createInput(type="text")
				.formTittle.pl-5
					.leftInput
						.lableTittle Quận:
						.d(style="display: inline")
							input.createInput(type="text")
					.rightInput
						.lableTittle Xã/ Phường:
						.d(style="display: inline")
							input.createInput(type="text")
				.formTittle.pl-5
					.leftInput
						.lableTittle Đường phố:
						.d(style="display: inline")
							input.createInput(type="text")
					.rightInput
						.lableTittle Diện tích:
						.d(style="display: inline")
							input.createInput(type="text")
				.formTittle.pl-5
					.leftInput
						.lableTittle Giá:
						.d(style="display: inline")
							input.createInput(type="text")
					.rightInput
						.lableTittle Đơn vị:
						.d(style="display: inline")
							input.createInput(type="text")	
			.boxInformation(style="display:none;")
				.formTittle.pl-5
					.lableTittle Tiêu đề:
					.d(style="display: inline")
						input(type="text", id="tittle", style="width: 600px; height: 50px; border-radius: 3px").mr-2
					span 99 từ
				.formTittle.pl-5
					.leftInput
						.lableTittle Hình thức:
						.d(style="display: inline")
							input.createInput(type="text")
					.rightInput
						.lableTittle loại:
						.d(style="display: inline")
							input.createInput(type="text")
				.formTittle.pl-5
					.leftInput
						.lableTittle Quận:
						.d(style="display: inline")
							input.createInput(type="text")
					.rightInput
						.lableTittle Xã/ Phường:
						.d(style="display: inline")
							input.createInput(type="text")
				.formTittle.pl-5
					.leftInput
						.lableTittle Đường phố:
						.d(style="display: inline")
							input.createInput(type="text")
					.rightInput
						.lableTittle Diện tích:
						.d(style="display: inline")
							input.createInput(type="text")
				.formTittle.pl-5
					.leftInput
						.lableTittle Giá:
						.d(style="display: inline")
							input.createInput(type="text")
					.rightInput
						.lableTittle Đơn vị:
						.d(style="display: inline")
							input.createInput(type="text")
		script.
			const button = document.getElementsByClassName("styleCreate");
			const boxInformation = document.getElementsByClassName("boxInformation");
			for(let i = 0; i < button.length; i++){
			button[i].addEventListener("click", function(){
			const active = document.getElementsByClassName("active");
			active[0].className = active[0].className.replace(" active", "");
			this.className += " active";
			const showCreate = document.getElementsByClassName("showCreate");
			showCreate[0].className = showCreate[0].className.replace(" showCreate", "");
			boxInformation[i].className += " showCreate";
			});
			}