extends ../layout
block content
	.header
		.header-titlle
			.container.pb-2
				.d-flex.pt-2.relative.align-items-center
					a(href='/')
						img(src='/image/SAND KING.png', style='width: 100px; border-radius: 30px;')
					ul.nav.ml-5.d-flex.align-items-center
						li.nav-item.pr-5
							a.nav-link(href='#muaBan') Mua bán
						li.nav-item.pr-5
							a.nav-link(href='#') Dự án		
						li.nav-item
							a.navav-link(href='#') Tin tức
				h2= user
	.create-body
		.container.pt-5.pb-5
			h2 ĐĂNG TIN BÁN ĐẤT
			if errors
				each error in errors
					.alert.alert-danger= error
			form.pr-5.mr-5.mb-0(action='/muaBan/create', method='POST', enctype='multipart/form-data')
				.form-group
					label(for='district') Quận
						select.custom-select.mt-2(name="district")
							option(selected='') Chọn Quận
							option(value='1') Quận 1
							option(value='2') Quận 2
							option(value='3') Quận 3
				.form-group
					label(for='address') Địa chỉ
					textarea#address.form-control(name="address")
				.form-group
					label(for='information') Thông tin
					textarea#information.form-control(rows='3', name="information")
				input.d-block.mb-5.mt-5(type="file", name="avatar")
				button.btn.btn-primary(type='submit') Submit
