extends ../layout
block content
	.header
		.header-titlle
				.d-md-flex.pt-1.pb-1.relative.align-items-center
					a.mr-5.padding-l(href='/')
						img(src='/image/SAND KING.png', style='width: 100px; border-radius: 30px;')
					ul.nav.d-flex.align-items-center.justify-content-center
						li.nav-item.pr-2
							a.nav-link(href='/muaBan#muaBan') Mua bán
						li.nav-item.pr-2
							a.nav-link(href='#') Dự án		
						li.nav-item
							a.nav-link(href='#') Tin tức
	.setUp-body
		.container(style="padding-top: 10px;")
			.pt-5
			if error
				.alert.alert-danger= error
			form.mb-0.pb-5(action='/login', method='POST')
				.form-group
					label(for='exampleInputEmail1') Nhập Email
					input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', name='email', value = values ? values.email : '')
				.form-group
					label(for='exampleInputPassword1') Nhập Password
					input#exampleInputPassword1.form-control(type='password', name='password', value = values ? values.password : '')
				button.btn.btn-primary(type='submit') login
