extends ./layout
block content
	.header-index.mb-5
		.header-titlle
			.container
				ul.nav.pb-3.border-bottom.border-dark
					li.nav-item
						i.phone.fas.fa-phone-volume.fa-2x.pr-5
					li.nav-item
						i.email.fas.fa-envelope-square.fa-2x
				.d-flex.pt-2.relative
					a(href='/')
						h1.pr-5 
							i SAND-KING					
					ul.nav
						li.nav-item.pr-5
							a.nav-link(href='/muaBan') Mua bán
						li.nav-item.pr-5
							a.nav-link(href='#') Dự án		
						li.nav-item.pr-5
							a.nav-link(href='#') Tin tức
						a(href="/muaBan/create")
							button.btn.btn-warning.create(type='button') Đăng BĐS
		.container.header-bot.d-flex.align-items-center
			form.d-flex.justify-content-center.m-0(action='/muaBan/search' method='get')
				input.d-inline.rounded.mr-1(name='q' type='text',placeholder='Nhập từ khóa bạn cần tìm kiếm')
				button.rounded
					i.fas.fa-search.fa-2x(style='color: #fff;')
	.container-fluid.main.pl-0.pr-0
		.main-titlle.pt-3.pb-3.rounded-pill
			h1.container CÁC QUẬN CỦA THÀNH PHỐ :
		#carouselExampleControls.carousel.slide.mt-5.mb-5.container(data-ride='carousel')
			.carousel-inner.rounded-pill
				.carousel-item.active
					img.d-block.w-100(src='/image/QUAN1.svg', alt='...')
				.carousel-item
					img.d-block.w-100(src='/image/QUAN2.svg', alt='...')
				.carousel-item
					img.d-block.w-100(src='/image/QUAN3.svg', alt='...')
			a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
				span.carousel-control-prev-icon(aria-hidden='true')
				span.sr-only Previous
			a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
				span.carousel-control-next-icon(aria-hidden='true')
				span.sr-only Next
		.main-titlle.rounded-pill.pt-3.pb-3.mb-5
			h1.container MUA BÁN ĐẤT :
		.container.mb-5
			.row
				each muaBan in muaBans
					.col-3.card.mb-4.p-0(style='width: 18rem;')
						img.card-img-top(style='height: 15rem;', src= muaBan.avatar)
						.card-body
							h5.d-inline.card-title Địa chỉ: 
							h5.d-inline= muaBan.address 
							p.card-text= muaBan.information
						a.view(href='#') Xem chi tiết
		.container-fluid.why.pb-5
			.container
				.pt-5.pb-5
					h3 Vì sao SAND-KING thành lập?
				.container-fluid.mt-5.mb-5
					.row.pb-5
						.col-4
							i.fas.fa-search.fa-5x
						.col-4
							i.fab.fa-servicestack.fa-5x
						.col-4
							i.fas.fa-coins.fa-5x
					.row.mt-5.pb-5
						.col-4
							h4.mb-0 Nhu cầu mua bán bất động sản tăng cao
						.col-4
							h4.mb-0 Mua bán đảm bảo với dịch vụ tốt
						.col-4
							h4.mb-0 Giao dịch đảm bảo và tiện lợi với sự hỗ trợ của chúng tôi