extends ./layout
block content
	.header-index.mb-5
		.header-titlle.pb-2
				.d-md-flex.pt-2.relative.align-items-center
					a.mr-5.padding-l(href='/')
						img(src='/image/SAND KING.png', style='width: 100px; border-radius: 30px;')
					ul.nav.d-flex.align-items-center.justify-content-center
						li.nav-item.pr-2
							a.nav-link(href='/muaBan#muaBan') Mua bán
						li.nav-item.pr-2
							a.nav-link(href='#') Dự án		
						li.nav-item
							a.nav-link(href='#') Tin tức
						a(href="/muaBan/create")
					.header-right.create
						a.pr-1(href="/createEmail") Đăng ký
						span /
						a.pr-1(href="/login") Đăng nhập
						a(href="/muaBan/create")
							button.btn.btn-warning(type='button') Đăng BĐS
		.container#find
			#form
				input.btnn.active(type='button', value='Mua bán')
				input.btnn(type='button', value='Cho thuê')
			.find-bottom
				#selector
					.choose
						.formm
							select.select.show(style='display: none;')
								option(value='1') Lo&#x1EA1;i nh&agrave; &dstrok;&#x1EA5;t
								option(value='1') C&abreve;n h&#x1ED9; chung c&#x1B0;
								option(value='2') Nh&agrave; ri&ecirc;ng
								option(value='3') &Dstrok;&#x1EA5;t n&#x1EC1;n
								option(value='4') Trang tr&#x1EA1;i, khu ngh&itilde; d&#x1B0;&#x1EE1;ng
								option(value='5') Kho, nh&agrave; x&#x1B0;&#x1EDF;ng
								option(value='6') C&abreve;n h&#x1ED9; chung c&#x1B0;
								option(value='7') B&#x1EA5;t &dstrok;&#x1ED9;ng s&#x1EA3;n kh&aacute;c
							select.select(style='display: none;')
								option(value='1') Lo&#x1EA1;i nh&agrave; &dstrok;&#x1EA5;t
								option(value='1') C&abreve;n h&#x1ED9; chung c&#x1B0;
								option(value='2') Nh&agrave; ri&ecirc;ng
								option(value='3') Nh&agrave; m&#x1EB7;t ph&#x1ED1;
								option(value='4') Nh&agrave; tr&#x1ECD;, ph&ograve;ng tr&#x1ECD;
								option(value='5') V&abreve;n ph&ograve;ng
								option(value='6') C&#x1EED;a h&agrave;ng, ki &#x1ED1;t
								option(value='7') Kho, nh&agrave; x&#x1B0;&#x1EDF;ng, &dstrok;&#x1EA5;t
								option(value='8') B&#x1EA5;t &dstrok;&#x1ED9;ng s&#x1EA3;n kh&aacute;c
						input.find-input(type='text', name='', placeholder='Nhập từ khóa cần tìm kiếm', onclick='none()')
						button.right(type='button')
			#findAdvanced.none
				div(style='width: 83%;display: inline-block;')
					.row(style='margin-left: 15px')
						.col(style='height: 50px;')
							select.boxFind
								option(value='1') Khu v&#x1EF1;c
								option(value='1')
								option(value='1')
						.col(style='height: 50px;')
							select.boxFind
								option(value='1') &Dstrok;&#x1B0;&#x1EDD;ng ph&#x1ED1;
								option(value='1')
								option(value='1')
						.col(style='height: 50px;')
							select.boxFind
								option(value='1') Di&#x1EC7;n t&iacute;ch
								option(value='1')
								option(value='1')
						.col(style='height: 50px;')
							select.boxFind
								option(value='1') M&#x1EE9;c gi&aacute;
								option(value='1')
								option(value='1')
			script.
				const form = document.getElementById("form");
				const btnn = form.getElementsByClassName("btnn");
				const selector = document.getElementById("selector");
				const select = selector.getElementsByClassName("select");
				for(let i = 0; i < btnn.length; i++){
				btnn[i].addEventListener("click", function(){
				const active = document.getElementsByClassName("active");
				active[0].className = active[0].className.replace(" active", "");
				this.className += " active";
				const show = document.getElementsByClassName("show");
				show[0].className = show[0].className.replace(" show", "")
				select[i].className += " show";
				});
				}
				function none(){
				const none = document.getElementById("findAdvanced");
				none.classList.remove("none");
				}
	.container-fluid.main.pl-0.pr-0
		.main-titlle.pt-3.pb-3.rounded-pill
			h1.container CÁC QUẬN :
		#carouselExampleControls.carousel.slide.mt-5.mb-5.container(data-ride='carousel')
			.carousel-inner.rounded-pill
				.carousel-item.active
					a(href='/district/1')
						img.d-block.w-100(src='/image/QUAN1.svg', alt='...')
				.carousel-item
					a(href='/district/2')
						img.d-block.w-100(src='/image/QUAN2.svg', alt='...')
				.carousel-item
					a(href='/district/3')
						img.d-block.w-100(src='/image/QUAN3.svg', alt='...')
			a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
				span.carousel-control-prev-icon(aria-hidden='true')
				span.sr-only Previous
			a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
				span.carousel-control-next-icon(aria-hidden='true')
				span.sr-only Next
		.main-titlle.rounded-pill.pt-3.pb-3.mb-5
			h1.container MUA BÁN ĐẤT :
		.container.mb-5#muaBan
			.row
				each outBan in outBans
					.col-12.col-md-6.col-lg-3.card.mb-4.p-0.card-outBan(style='width: 18rem;')
						img.card-img-top.img-outBan( src= outBan.avatar)
						.card-body(style='position: relative;')
							h5.d-inline.card-title Địa chỉ: 
							h5.d-inline= outBan.address 
							p.card-text= outBan.information
							span.district= outBan.district
						a.view(href='/muaBan/' + outBan.id) Xem chi tiết
		.container
			a(href='/muaBan#muaBan')
				h3.mb-4(style='text-align: end; color: blue') Xem tất cả
		.container-fluid.why.pb-5
			.container
				.pt-5.pb-5
					h3 Vì sao SAND-KING thành lập?
				.container-fluid.mt-5
					.row.pb-5
						.col-12.col-md-4
							i.fas.fa-search.fa-5x.pb-5
							h4.mb-0.mb-5 Nhu cầu mua bán bất động sản tăng cao
						.col-12.col-md-4
							i.fab.fa-servicestack.fa-5x.pb-5
							h4.mb-0.mb-5 Mua bán đảm bảo với dịch vụ tốt
						.col-12.col-md-4
							i.fas.fa-coins.fa-5x.pb-5
							h4.mb-0.mb-5 Giao dịch đảm bảo và tiện lợi với sự hỗ trợ của chúng tôi
							
		.containner-fluid.ask
			.container
				.row.pt-5(style='position: relative;')
					.col-12.col-md-6.d-flex.flex-column.align-items-center.text-center.pb-5
						i.fas.fa-home.fa-5x.pb-5
						h3.pb-5 Bán nhà nhanh chóng và miễn phí với Sand-King
						button.ask.rounded.p-2 Đăng tin ngay
					.col-12.col-md-6.d-flex.flex-column.align-items-center.text-center
						i.fas.fa-envelope-open-text.fa-5x.pb-5
						h3.pb-5 Đặt câu hỏi để được tư vấn miễn phí
						button.ask.rounded.pb-2 Hỏi ngay