html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
		link(rel='stylesheet', href='/style/custom.css')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.12.1/css/all.css')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css')


	body
		.fixed
			ul.nav.pb-3
				li.nav-item
					i.phone.fas.fa-phone-volume.fa-2x.pr-5
				li.nav-item
					i.email.fas.fa-envelope-square.fa-2x
		.afterFixed(style='height: 51px;')
		block content
		.footer
			.container.pb-5.pt-5
				.row
					.col
						h1.top Dịch vụ bất động sản
						h1.bot SAND-KING
						p 100 Man Thiện, Phường Tăng Nhơn Phú, Quận 9, TP. Hồ Chí Minh
						p Email: tuansyho96@gmail.com
						p Hãy gọi cho chúng tôi để được tư vấn
						.phone
							i.phone.fas.fa-phone-volume.fa-2x
					.col
						h1.pb-5 Liên kết với chúng tôi
						a(href='#')
							img.pr-5(src='/image/facebook.svg')
						a(href='#')
							img(src='/image/zalo.svg')
			script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
			script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
			script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')